# This workflow will build a Java project with Gradle
# This file was contributed by EdwinBetanc0urt@outlook.com from ERP Consultores y Asociados, C.A
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
   branches: [ "master", "develop", "bugfix/*", "feature/*" ]

  pull_request:
   branches: [ "master", "develop", "bugfix/*", "feature/*" ]

jobs:

  build-ci:
    name: Build CI ADempiere-gRPC-Server
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt-hotspot'
          java-version: 11

      - name: Build with Gradle
        run: gradle build
